{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class='form-control') }}
        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}