<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block styles %}
            <link type="text/css" rel="stylesheet" href="{{ req.static_url('trashbin:static/css/app.css') }}"/>
        {% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>