{% extends 'layout.jinja2' %}
{% from '_form.jinja2' import render_field %}

{% block title %}Create paste{% endblock %}

{% block content %}
  <form method="POST" action="{{ req.route_path('paste.create') }}">
    {{ render_field(form.title) }}
    {{ render_field(form.content) }}
    <button>Create Paste</button>
  </form>
{% endblock %}