{% extends 'layout.jinja2' %}
{% from '_form.jinja2' import render_field %}

{% block title %}View paste{% endblock %}

{% block content %}
  <h1>{{ paste.title }}</h1>
  {{ paste.content }}
{% endblock %}