{% extends 'layout.jinja2' %}
{% from '_form.jinja2' import render_field %}

{% block title %}Login{% endblock %}

{% block content %}
  <form method="POST" action="{{ req.route_path('user.login') }}">
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    <button>Login</button>
  </form>
{% endblock %}