{% extends 'layout.jinja2' %}
{% from '_form.jinja2' import render_field %}

{% block title %}Register{% endblock %}

{% block content %}
  <form method="POST" action="{{ req.route_path('user.register') }}">
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    <button>Register</button>
  </form>
{% endblock %}